/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Open+Sans');
 .form{
 	padding-top: 30px;
 	padding-bottom: 30px;
 	display: block;
	margin: auto;
	margin-top: 70px;
	text-align: center;
	background-color: rgba(33, 112, 237, 0.5);
	width: 400px;
	font-family: 'Open Sans', sans-serif;
 }
 .field input{
 	background-color: purple;
 	border-style:solid;
 }
 .field input:focus{
 	outline: none;
 	background-color: yellow;
 }

input[type="submit" i]{
	width: 100px;
	height: 30px;
	margin: 5px;
	background-color: black;
	border: none;
	color: white;
}

.error{
	display: block;
	background: rgba(255, 0, 0, 0.5);
	max-width: 40%;
	text-align: center;
	margin: auto;
}

