// Place all the styles related to the festivals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper{
	width: 80%;
	margin: 0 auto;
}

#add-new{
	width: 98%;
	height: 80px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	color: black;
	margin: 0 auto;
	margin-top: 30px;
}

#add-new a:link, #add-new a:hover, #add-new a:active, #add-new a:visited{
	text-decoration: none;
	color: white;
	cursor: pointer;
	background-color: rgb(52, 22, 121);
	height: 50px;
	padding: 10px 10px;
	line-height: 50px;
	text-align: center;
	margin-left: 20px;
}

#festival-item{
	display: inline-block;
	float: left;
	width: 31.33%;
	height: 200px;
	background-color: rgba(52, 22, 121, 0.4);
	color: white;
	font-family: 'Open Sans', sans-serif;
	margin: 1% 1%;
	text-align: center;
}
#festival-item h1{
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0;
	margin-top: 1em;
}

#festival-item a:link, a:hover, a:visited, a:active{
	color: white;
	text-decoration: none;
}

#filter{
	display: block;
	background-color: rgb(52, 22, 121);
	color: white;
	max-width: 80%;
	margin: auto;
	text-align: center;
}

#festival-show{
	display: block;
	max-width: 50%;
	margin: auto;
	margin-top: 2%;
	background-color: rgba(52, 22, 121, 0.4);
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.btn{
	text-decoration: none;
	display: inline-block;
	max-height: 80px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	color: white;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 10px;
}

.btn a:link, .btn a:hover, .btn a:active, .b a:visited{
	text-decoration: none;
	display: inline-block;
	color: white;
	cursor: pointer;
	background-color: rgb(52, 22, 121);
	height: 30px;
	line-height: 30px;
	padding: 10px 10px;
	text-align: center;
}

button.attend{
	text-decoration: none;
	display: inline-block;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: white;
	margin: 0 auto;
	margin-bottom: 10px;
	border: none;
	padding: 10px 10px;
	background-color: rgb(52, 22, 121);
	
}

.festival-form{
	display: block;
	background-color: rgba(60, 179, 113, 0.5);
	margin: 0 auto;
	margin-top: 3%;
	max-width: 60%;
	min-width: 20%;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
}

.notice{
	display: block;
	background: rgba(0, 128, 0, 0.5);
	max-width: 40%;
	text-align: center;
	margin: auto;
}

#error-explanation{
	text-align: center;
	display: block; 
	background: rgba(255, 0, 0, 0.5);
	width: 60%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}

ul#validation-messages{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}
ul#validation-messages li{
	border: none;
	text-decoration: none;
	height: 10px;
}